# Python day 3

In [13]:
#Implicit tye conversion
a=2
b=9.8
c=a+b
print(type(c))
print(int(c))
print(type(c))

<class 'float'>
11
<class 'float'>

In [15]:
#Explicit type conversion
s="10010"
#printing string converting to in base 2
c=int(s,2)
print("After converting to int base 2:",end=" ")
print(c)
#printing string converting to float
e=float(s)
print("After converting to int float:",end=" ")
print(e ,end="str")

After converting to int base 2: 18
After converting to int float: 10010.0str

In [17]:
#list
list=[]

#Adding element into list
list.append(5)
print("list =", list)

list = [5]

In [37]:
list.append("hy")
list.append(9)

In [38]:
print("list =", list)

list = [6, 6, 7, 'hy', 9]

In [29]:
list.pop()

6

In [22]:
#set
s=set()

In [39]:
#adding elemet into set
s.add(3)
s.add("hello")
s.add(9)

In [40]:
print(s)

{9, 3, 'hello'}

In [30]:
s.remove(4)

KeyError: 4

In [41]:
s.remove(3)

In [42]:
print(s)

{9, 'hello'}

In [44]:
print(len(s))#print length set

2

In [45]:
s.add("nepal")

In [46]:
print(s)

{9, 'hello', 'nepal'}

In [47]:
s.add("aepal")

In [48]:
print(s)

{'nepal', 9, 'aepal', 'hello'}

In [49]:
#tuple
t=tuple(list)

In [50]:
print(t)

(6, 6, 7, 'hy', 9)

In [51]:
t.append(9)

AttributeError: 'tuple' object has no attribute 'append'

# dictionary

In [52]:
d={}

d[3]="hello am vlaue 3"
d[6]="hello am vlaue 6"

In [57]:
print(d ,end=" ")

{3: 'hello am vlaue 3', 6: 'hello am vlaue 6'}

In [58]:
del d[3]

In [59]:
print(d)

{6: 'hello am vlaue 6'}

In [68]:
d[6]=" im another value of 6"

In [65]:
print(d)

{6: ' im another value of 6'}

In [69]:
d.pop("im another value of 6")
print(d)

KeyError: 'im another value of 6'

In [70]:
d[6]=" im another value of 6"

In [71]:
a=2**3
print(a)

8

# comprehesion

In [77]:
square_dict=dict()

for num in range(1,11):
    square_dict[num]= num*num
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [74]:
square_dict={num:num*num for num in range(1,11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [80]:
#imtem price in dollar
old_price={'milk':50.50,'coffee':200}

In [81]:
dollar_to_pound=0.76

In [82]:
new_price={item.value*dollar_to_pound for (item.value)}

SyntaxError: invalid syntax (1444984324.py, line 1)

In [83]:
languages=[
    {
        "Python":"ML","R":"ML"
    },
    {
         "Python":"web dev","Java Script":"Web dev"
    },
    {
        "c++":"game Dev", "Python":"Game dev"
    }
]

In [84]:
print(languages)

[{'Python': 'ML', 'R': 'ML'}, {'Python': 'web dev', 'Java Script': 'Web dev'}, {'c++': 'game Dev', 'Python': 'Game dev'}]

In [89]:
print(*[key for i in languages for key in i.keys()], sep="\n")

Python
R
Python
Java Script
c++
Python

In [90]:
# print([key for i in languages for key in i.keys()], sep="\n")
for i in languages:
    for key in i.keys():
        print(key, sep="\n")

['Python', 'R', 'Python', 'Java Script', 'c++', 'Python']

In [93]:
print(*[key for i in languages for key in i.values()], sep="\n")

ML
ML
web dev
Web dev
game Dev
Game dev